<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509924931759-j8ra7t68br99h4q4n6du82c87h2c9qvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509924931759-j8ra7t68br99h4q4n6du82c87h2c9qvs</string>
	<key>API_KEY</key>
	<string>AIzaSyBhWxxdF0HVfX6HaixDsIORqtt4Sd9FU1U</string>
	<key>GCM_SENDER_ID</key>
	<string>509924931759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-project02</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-project02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509924931759:ios:54075186a55b9c5767bc5a</string>
</dict>
</plist>